<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events Categories</h1>

<nav th:replace="fragments::navigation"></nav>

<p th:unless="${eventCategories} and ${eventCategories.size()}">No Categories!</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Category Name</th>
  </tr>
  </thead>
  <tr th:each="category : ${eventCategories}">
    <td th:text="${category.name}"></td>
  </tr>

</table>

</body>
</html>